#header{
    background-color: rgb(255, 255, 255);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.java_icon{
    height: 50px;
    width: 50px;
}
#project_name{
    color: rgb(5, 5, 5);
    font-size: 35px;

}
body{
    background-color: rgb(254, 248, 255);
    margin: 0px;
    padding: 0px;
}
#searchscreen{
    background-color: rgb(30, 37, 35);
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#searchbar{
    background-color: rgb(254, 248, 255);
    height: 50px;
    width: 500px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    border:2px solid rgb(158, 56, 253);
    transition: all 0.3s ease;
    box-shadow: 5px solid black;
}
#searchbar:hover{
    box-shadow: 0 0 20px rgb(181, 101, 255);
}
#contents{
    background-color: rgb(30, 37, 35);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    border-bottom: 1px solid rgb(109, 109, 109);
}
a.cont{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.cont:hover{
    color: rgb(156, 155, 155);
}
.what{
    color: aliceblue;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.javabig{
    margin-top: 80px;
    height: 200px;
    width: 200px;
}
h3.subtext{
    color: rgb(249, 252, 255);
    font-size: 20px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#whyjava{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 0, 161);
    padding: 100px;
    transition: all 0.3s ease;
}
#whyjava:hover{
    color: rgb(166, 72, 255);
}
#sec{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 65, 150);
    padding: 100px;
    transition: all 0.3s ease;
}
#sec:hover{
    color: rgb(80, 156, 255);
}
#blank{
    background-color: rgb(0, 65, 150);
    height: 250px;
}
#innerwhy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#img{
    height:50px ;
    width: 300px;

}
.q1{
    height: 150px;
    width: 400px;
    background-color: rgba(240, 228, 252, 0.281);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 150px;
    margin-top: 20px;
    border-radius: 25px;
    font-size: 40px;
    transition: all 0.3s ease;
}
.ans1{
    height: 380px;
    width: 600px;
    background-color: rgba(240, 228, 252, 0.281);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 150px;
    padding: 30px;
    padding-top: 30px;
    font-size: 19px;
    transition: all 0.3s ease;
}
.ans1:hover{
    transform: scale(1.1);
}
.security{
    
    height: 250px;
    width: 350px;
    margin-right: 100px;
}
.comp{
    height: 250px;
    width: 200px;
    margin-right: 100px;
}
a.oracle{
    color: rgb(1, 73, 1);
    text-decoration: none;
}
.oracle:hover{
    color: rgb(0, 116, 0);
}
#setup_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}
#setup_button{
    height: 20px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: rgb(0, 126, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

}
#setup_button:hover{
    background-color: rgb(3, 87, 3);
}
.tutorial{
    color: aliceblue;
    text-decoration: none;
}
.tutorial:hover{
    color: aliceblue;
}
#setupdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}
.ss{
    border: 2px solid black;
}
#footer{
    background-color: rgb(30, 37, 35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    color: aliceblue;
}
.logo{
    height: 30px;
    width: 30px;
}
.footer_javaicon{
    height: 50px;
    width: 50px;
    padding-top: 30px;
}
